<div class="d-flex align-items-center">
  <h1>ブログ一覧</h1>
  <div class="ml-auto boards__linkBox">
  <%# ブログを送信したときにブログ一覧画面のアクションが表示される %>
  <%= form_with url: blogs_path, method: :get, class: 'boards__searchForm' do %>
  <%# セレクトボックスのnameがtag_idになる %>
  <%# options_from_collection_for_select オプション要素を複数表示 %>
      <%= select_tag :tag_id,
      # 第4引数は何を選択状態にするかの指定
      # 一度選択したタグを選択後も表示するのでparams[:tag_id]を指定
                     options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                     {
                      #  何も選択されていない状態
                       prompt: 'タグで絞り込み',
                       class: 'form-control boards__select',
                      #  選択されるたびに実行されるJSのコード
                      # 選択肢から選んだ時点でformをサブミット
                       onchange: 'submit(this.form);'
                     }
      %>
    <% end %>
    <%# new_blog_path = /blogs/new %>
    <% if @current_user %>
      <%= link_to '新規作成', new_blog_path, class: "btn btn-outline-dark" %>
    <% end %>
  </div>
</div>

<% if flash[:notice] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>

  <table class="table table-hover boards__table">
  <thead class="thead-dark">
    <tr>
      <th>タイトル</th>
      <th>作成者</th>
      <th>作成日時</th>
      <th>更新日時</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.name %></td>
        <td><%= blog.created_at.to_s(:datetime_jp) %></td>
        <td><%= blog.updated_at.to_s(:datetime_jp) %></td>
        <%# 第二引数に当てたオブジェクトの詳細画面へのリンクを作成 %>
        <td><%= link_to '詳細', blog, class: 'btn btn-outline-dark' %></td>
        <td><%= link_to '削除', blog, class: 'btn btn-outline-dark', method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%# kaminariをインストールしたのでpaginateが使える 引数には一覧表示対象のオブジェクトのリストを渡す %>
<%= paginate @blogs%>